* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --tb-dark: #000000;
    --tb-light: #ffffff;
    --tb-push: #49c500;
    --tb-end: #9f363d;
    --tb-bar: #222222;
}

.container {
    max-width: 1152px;
    width: 70%;
    margin: auto;
}

.flex{
    display: flex;
    
}

.justify-content{
    justify-content: space-between;
}

#app-header{
    background-color: var(--tb-dark);
   text-align: end;
   padding-bottom: 4rem;
}

.sp-view{
    color: var(--tb-light);
    background-color: #d3d3d3a1;
    padding: 3px 3px;
    border-radius: 5px;
    
}




#app-main{
    background-color: var(--tb-dark);

}

.row {
    display: flex;
    flex-wrap: wrap;

}

.col {
    width: calc(100% / 23 * 3);
    padding: 0.1rem;
    position: relative;
}

img{
    width: 130px;
}

.pinco{
    color: var(--tb-light);
    background-color: #d3d3d3a1;
    padding: 3px 3px;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    top: 116px;
    left: 0;
}


h2{
    font-size: 10px;
}

 li {
    list-style: none;
    padding: 0 1rem;
    color: white;
}

/* ul{
    display: flex;
    justify-content: space-between;
} */


i{
    color: white;
}

h4{
    color: white;
   
}




#app-footer{
    background-color: var(--tb-bar);
    padding: 2rem;
}

.buttons{
    display: flex;
    justify-content: space-between;
}



.buttons-left{
    display: flex;
}


.buttons-center{
    display: flex;
    pa
}


.buttons-right{
    display: flex;
}

p{
    font-size: 10px;
    padding-right: 10px;
}